.header {
    background-color: rgb(14, 165, 233);
    color: white;
    text-align: center;
    padding: 24px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
body{
    background-color: #F1F5F9;
    margin: 0px;
}

.header p {
    margin-top: 8px;
    font-size: 15px;
}
.menu {
    background-color: rgb(224, 242, 254);
    text-align: center;
    padding: 10px;
    margin: 16px;
    border-radius: 12px;
}

.menu a {
    margin: 0px 12px;
    text-decoration: none;
    color: rgb(3, 105, 161);
    font-weight: bold;
}

.menu a:hover {
    color: white;
    background-color: rgb(2, 132, 199);
    padding: 6px 10px;
    border-radius: 8px;
}
.section {
    background-color: white;
    padding: 20px;
    border-radius: 16px;
    margin-bottom: 50px;
}

.section h2 {
    color: rgb(15, 23, 42);
    margin-bottom: 10px;
}
.content {
    padding: 20px;
    flex: 1 1 0%;
}
.highlight {
    background-color: rgb(236, 254, 255);
    border-left: 6px solid rgb(14, 165, 233);
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 40px;
}
.footer {
    background-color: rgb(15, 23, 42);
    color: rgb(229, 231, 235);
    text-align: center;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}